section.entry.hero
    div.entry-info
        h1.logo: img(src='/img/_logos/logo-' + slug + '.svg', alt=title)
        small.meta.meta-details
            span !{rating}
            span !{runtime}
            span !{tags[1]}
            span.labels
                each item in labels
                    span: a(href='/search?search=' + item)= item
        if description
            p !{description}
        if quote
            blockquote !{quote}
        hr
        if starring
            small.meta.cast
                strong Cast:
                = ' '
                each actor in starring
                    span: a(href='/search?search=' + actor)= actor
        if director
            small.meta.cast
                strong Director:
                = ' '
                each person in director
                    span: a(href='/search?search=' + person)= person
        if producer
            small.meta #[strong Producer:] !{producer}
        if creator
            small.meta #[strong Creator:] !{creator}
        if studio
            small.meta #[strong Studio:] !{studio}
        small.meta #[strong As seen in:] #[a(href='/search?search=' + parent) !{parent}] (!{parentYear})
            if parent2
                span &nbsp;and #[a(href='/search?search=' + parent2) !{parent2}] (!{parent2Year})
    div.entry-image
        if heroPosition
            img(src='/img/' + slug + '.jpg' alt=altHero class=heroPosition)
        else
            img(src='/img/' + slug + '.jpg' alt=altHero)
        small © !{credit}
