---
layout: skeleton.pug
bodyClass: detail
---

section.entry.hero
    div.entry-info
        h1 !{title}
        small.meta
            span !{rating}
            span !{runtime}
            span !{tags[0]}, !{tags[1]}
        p !{description}
        if quote
            blockquote !{quote}
        hr
        small.meta #[strong Cast:] !{starring}
        if director
            small.meta #[strong Director:] !{director}
        if studio
            small.meta #[strong Studio:] !{studio}
        small.meta #[strong As seen in:] !{parent} (!{parentYear})
        //- button Details
    div.entry-image
        img(src='/img/' + slug + '.jpg')
        small courtesy of !{credit}

if stills
    section.list
        h2 Stills
        ul.card-list
            li: img(src='/img/' + slug + '-still1.jpg')
            li: img(src='/img/' + slug + '-still2.jpg')
            li: img(src='/img/' + slug + '-still3.jpg')
            li: img(src='/img/' + slug + '-still4.jpg')

section.list.recommend
    h2 You might also like
    ul.card-list
        each sameMovie in tags.slice(0,1)
            each entry in collections[sameMovie]
                if entry.data.parent == parent && entry.data.title !== title
                    li
                        a(href=entry.data.page.url)
                            img(src='/img/' + entry.data.slug + '-thumb.jpg', alt=entry.data.title)
                            //- p !{entry.data.title}
                            //- p !{entry.data.description}
        each otherTag in tags.slice(1)
            each entry in collections[otherTag]
                if entry.data.title !== title && entry.data.parent !== parent
                    li
                        a(href=entry.data.page.url)
                            img(src='/img/' + entry.data.slug + '-thumb.jpg', alt=entry.data.title)
                            //- p !{entry.data.title}
                            //- p !{entry.data.description}
