---
layout: skeleton.pug
---

section.entry.hero
    div.entry-info
        h1 !{title}
        h2 !{description}
        h3 !{betterName1}
        button Details
    div.entry-image
        img(src=image)

section.list.short
    h2 !{tags[0]}
    ul.card-list
        each entry in collections[tags[0]]
            li
                a(href=entry.data.page.url)
                    img(src=entry.data.shortImage)
                    p !{entry.data.title}

if featuredTitle
    section.entry.feature
        div.entry-info
            h1 !{collections.byTitle[featuredTitle].data.title}
            h2 !{collections.byTitle[featuredTitle].data.description}
            h3 !{collections.byTitle[featuredTitle].data.betterName1}
            button Details
        div.entry-image
            img(src=collections.byTitle[featuredTitle].data.image)

each otherTag in tags.slice(1)
    section.list.tall
        h2 !{otherTag}
        ul.card-list
            each entry in collections[otherTag]
                li
                    a(href=entry.data.page.url) 
                        img(src=entry.data.tallImage)
                        p !{entry.data.title}
