extends skeleton.pug

block vars
    - var bodyClass = "detail";

block content
    include hero

    if stills
        section.list
            h2 Stills
            ul.card-list.stills
                li: img(src='/img/' + slug + '-still1.jpg' alt=alt1)
                li: img(src='/img/' + slug + '-still2.jpg' alt=alt2)
                li: img(src='/img/' + slug + '-still3.jpg' alt=alt3)
                li: img(src='/img/' + slug + '-still4.jpg' alt=alt4)

    if submovies
        section.list
            h2 Films in the collection
            ul.card-list.submovies(class=slug)
                each _, counter in Array(submovies)
                    li: img(src='/img/' + slug + '-submovie' + (counter + 1) + '.jpg')

    include recommend
