extends _includes/skeleton

block vars 
    - var title = "Nestflix";
    - var description = "A platform for fictional films and shows within other films and shows.";
    - var bodyClass = "landing";

mixin feature(movieTitle)
    div.entry.feature
        div.entry-info
            h2.logo
              img(src='/img/_logos/logo-' + collections.byTitle[movieTitle].data.slug + '.svg', alt=collections.byTitle[movieTitle].data.title)
            p !{collections.byTitle[movieTitle].data.description}
            a.button(href=collections.byTitle[movieTitle].data.slug aria-label="Details for " + collections.byTitle[movieTitle].data.title) Details
        div.entry-image 
            img(src='/img/' + collections.byTitle[movieTitle].data.slug + '.jpg' alt=collections.byTitle[movieTitle].data.altHero)

mixin cards(tag1,tag2)
    each tag in tags.slice(tag1,tag2)
        unless collections.ignoredTags.includes(tag.toLowerCase())
            section.list.short
                h2 !{tag}
                ul.card-list.thumbs
                    each entry in collections[tag]
                        li
                            a(href=entry.data.page.url)
                                img(src='/img/' + entry.data.slug + '-thumb.jpg', alt=entry.data.title)

block content
    section.hero
        div.hero-info
            div
                h1 Welcome to Nestflix
                p The platform for your favorite nested films and shows.
                p Fictional movies within movies? Got ‘em. Fake shows within shows? You bet. Browse our selection of over 650 stories within stories.
        div.hero-image
            img(src='/img/_header/header-bg.jpg' alt='visual spread of titles')
            //- img.hero-image(src='/img/nestflix-thumb.jpg' alt='')

    span#content

    - var tags = ['dramas', 'comedies', 'action movies', 'action adventure movies', 'post-apocalyptic action movies', 'action sci-fi films', 'sci-fi films', 'monster movies', 'war and historical dramas', 'dramatic biopics', 'thrillers', 'crime shows', 'buddy cops', 'spy movies', 'westerns', 'documentaries', 'documentary series', 'sci-fi tv', 'aliens!', 'romantic dramas', 'romantic comedies', 'horror movies', 'slasher flicks', 'action tv', 'tv superheroes', 'tv dramas', 'reality tv', 'reality competition shows', 'reality dating shows', 'criminal justice reality tv', 'home and diy', 'babies in action', 'animals on tv', 'animated shorts', 'mighty movie heroes', 'hollywood’s golden age', 'game shows', 'game shows with a bit of danger!', 'variety shows', 'amateur filmmakers', 'web shows', 'comedy tv', 'sitcoms', 'family sitcoms', 'family films', 'musicals', 'kids tv', 'kids variety shows', 'british tv', 'religious programming', 'for the holidays', 'soap operas', 'telenovelas', 'adults 18+', 'talk shows', 'public-access talk shows', 'entertainment commentary', 'late night talk shows'];

    - var extraTags = ['new on nestflix'];

    each tag in extraTags.slice(0,1)
        section.list.short
            h2 !{tag}
            ul.card-list.thumbs
                each entry in collections[tag]
                    li
                        a(href=entry.data.page.url)
                            img(src='/img/' + entry.data.slug + '-thumb.jpg', alt=entry.data.title)

    +cards(0,2)

    +feature('Angels with Filthy Souls')

    +cards(2,10)

    +feature('Stab')

    +cards(10,20)

    +feature('Satan’s Alley')

    +cards(20,31)

    +feature('Radioactive Man')

    +cards(31,39)

    +feature('Looking for LaToya')

    +cards(39,46)

    +feature('The Lucas Lee Collection')

    +cards(46,58)
